<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Basketbola spēles rezultāta prognozēšana</title>
</head>
<body>
    <nav class="navbar">
    <div class="nav-container">
        <ul class="nav-menu" style="display: flex; justify-content: space-evenly;">
            <li class="nav-item">
                <a href="/" class="nav-link">Rezultāta prognozēšana</a>
            </li>
            <li class="nav-item">
                <a href="/team_stats" class="nav-link">Komandas statistika</a>
            </li>
            <li class="nav-item">
                <a href="/all_games" class="nav-link">Visas spēles</a>
            </li>
        </ul>
    </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
